* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: arial, sans-serif;
  font-size: 14px;
}

.container {
  background-color: #d9d5d5;
  display: table;
  margin: 0 auto;
}

.table {
  border-collapse: collapse;
  margin: 30px;
  border: none;
}
.table__body, .table__head__row {
  text-align: left;
  padding: 12px;
  border: none;
  height: 33px;
}
.table__head__row {
  background-color: #fff;
}
.table__body__cell {
  padding-right: 50px;
}
.table__body__row--even {
  background-color: #fcf9f9;
}
.table__body__row--odd {
  background-color: #cdcdcd;
}

.image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/*# sourceMappingURL=styles.css.map */
