* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: arial, sans-serif;
  font-size: 14px;
}

.container{
  background-color: #d9d5d5;
  display: table;
  margin: 0 auto;
}

.table{
  border-collapse: collapse;
  margin: 30px;
  border: none;
  &__body,&__head__row{
    text-align: left;
    padding: 12px;
    border: none;
    height: 33px;
  }
  &__head__row{
    background-color: #fff;

  }
  &__body__cell{
    padding-right: 50px;
  }
  &__body__row--even{
    background-color: #fcf9f9;
  }
  &__body__row--odd{
    background-color: #cdcdcd;
  }
}

.image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
